html * {
    margin: 0;
    padding: 0;
}

#container {
    margin-left: 10px;
    width: 80%; 
}

li {
    display: inline-block;
    margin-right: 40px;
}

.category {
    margin: 20px 0;
}

.sec {
    margin: 15px 0;
}